<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <div class="container">
      <%- include('./partials/nav',{active:active}) %>
      <main class="main">
        <h1>Delete Instrument</h1>
        <p>Do you really want to delete this Instrument?</p>
        <form  method="post">
            <div class="form-field">
                <input type="hidden" name="instrumentid" value="<%= instrument.instrument_id %>">
                <button type="submit" class="btn">Delete</button>
            </div>
        </form>
      </main>
      <%- include('./partials/footer') %>
    </div>
  </body>
</html>
